/* Style for basic rock paper scissors game from TOP curriculum */

#application {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#title {
    display: flex;
    justify-content: center;
}

#score {
    display: flex;
    justify-content: center;
}

#roundResults {
    display: flex;
    justify-content: center;
}

#buttonContainer {
    display: flex;
    gap: 50px;
    justify-content: center;
}